<header class="header">
    <div class="header-band">
        <div class="header-band__logo">
            <img src="/images/heart.svg" alt="logo" class="header-band__img">
        </div>
        <h1 class="header-band__website-title">
            Les Petites Mains de LoCe
        </h1>
    </div>
    <nav class="header-nav">
        <a href="/" class="header-nav__link">Accueil</a>
        <a href="/products" class="header-nav__link">Nos Créations</a>
        <a href="" class="header-nav__link">À Propos</a>
        <a href="" class="header-nav__link">
            <div class="header-nav__basket">
                <img src="/images/icons/shopping-bag.svg" alt="panier" class="header-nav__img">
            </div>
            <span class="header-nav__label">Panier (0)</span>
        </a>
    </nav>
</header>