.button {
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.button--primary {
    background: #E8869E;
    color: #FFF;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: undefined;
    text-transform: uppercase;
}